<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.knowledgegraph.mapper.KgNodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.knowledgegraph.entity.KgNode">
        <id column="id" property="id" />
        <result column="node_type" property="nodeType" />
        <result column="node_name" property="nodeName" />
        <result column="properties" property="properties" />
        <result column="object_id" property="objectId" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

</mapper>
