<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.teachingactivities.mapper.DiscussionTopicReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.teachingactivities.entity.DiscussionTopicReply">
        <id column="id" property="id" />
        <result column="reply_content" property="replyContent" />
        <result column="type" property="type" />
        <result column="topic_id" property="topicId" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <select id="countTopicWithReplies" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT COUNT(*) AS total
        FROM (
                 -- 一级回复
                 SELECT r1.id
                 FROM discussion_topic_reply r1
                 WHERE r1.type = 1
                   AND r1.topic_id = #{topicId}
                   AND r1.is_shield = 0

                 UNION ALL

                 -- 二级回复：join 找到属于该话题的一级
                 SELECT r2.id
                 FROM discussion_topic_reply r2
                          JOIN discussion_topic_reply r1
                               ON r2.topic_id = r1.id   -- 这里的 topic_id 是父回复ID
                 WHERE r1.type = 1
                   AND r1.topic_id = #{topicId}
                   AND r1.is_shield = 0
                   AND r2.type = 2
                   AND r2.is_shield = 0
             ) t
    </select>
</mapper>
