<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.course.mapper.CourseClassListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.course.entity.CourseClassList">
        <id column="id" property="id" />
        <result column="class_id" property="classId" />
        <result column="course_id" property="courseId" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

    <select id="getMyCourseTeacher" resultType="com.upc.modular.course.controller.param.GetMyCourseReturnParam"
            parameterType="java.lang.Long">
        SELECT
        c.*,
        t.name AS teacherName
        FROM
        course c
        LEFT JOIN
        teacher t ON c.user_id = t.user_id
        <where>
            <if test="id != null">
                AND c.user_id = #{id}
            </if>
            <if test="param.courseName != null and param.courseName != ''">
                AND c.course_name LIKE CONCAT('%', #{param.courseName}, '%')
            </if>
        </where>
        ORDER BY
        c.add_datetime DESC
    </select>
    <select id="getMyCourseAdmin" resultType="com.upc.modular.course.controller.param.GetMyCourseReturnParam"
            parameterType="java.lang.Long">
        SELECT
            c.*,
            t.name AS teacherName
        FROM
            course c
                LEFT JOIN
            teacher t ON c.user_id = t.user_id
        <where>
            <if test="param.courseName != null and param.courseName != ''">
                AND c.course_name LIKE CONCAT('%', #{param.courseName}, '%')
            </if>
        </where>
        ORDER BY
            c.add_datetime DESC
    </select>
    <select id="getMyCourseStudent" resultType="com.upc.modular.course.controller.param.GetMyCourseReturnParam"
            parameterType="java.lang.Long">
        SELECT DISTINCT
        c.*,
        t.name AS teacherName
        FROM
        course c
        LEFT JOIN
        course_class_list ccl ON c.id = ccl.course_id
        LEFT JOIN
        user_class_list ucl ON ccl.class_id = ucl.class_id
        LEFT JOIN
        teacher t ON c.user_id = t.user_id
        <where>
            <if test="id != null">
                AND ucl.user_id = #{id}
            </if>
            <if test="param.courseName != null and param.courseName != ''">
                AND c.course_name LIKE CONCAT('%', #{param.courseName}, '%')
            </if>
        </where>
        ORDER BY
        c.add_datetime DESC
    </select>

</mapper>
