<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.course.mapper.CourseTextbookListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.course.entity.CourseTextbookList">
        <id column="id" property="id" />
        <result column="textbook_id" property="textbookId" />
        <result column="course_id" property="courseId" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <select id="selectCourseTextbookList"
            resultType="com.upc.modular.course.controller.param.CourseTextbookListReturnParam"
            parameterType="java.lang.Long">
        SELECT
        ctl.*,
        t.textbook_name,
        c.course_name,
        t.textbook_picture
        FROM course_textbook_list ctl
        LEFT JOIN course c ON ctl.course_id = c.id
        LEFT JOIN textbook t ON ctl.textbook_id = t.id
        <where>
            <if test="courseId != null">
                AND ctl.course_id = #{courseId}
            </if>
        </where>
    </select>

</mapper>
