<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.auth.mapper.SysAuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.auth.entity.SysAuthority">
        <id column="id" property="id" />
        <result column="auth_code" property="authCode" />
        <result column="auth_name" property="authName" />
        <result column="auth_model_id" property="authModelId" />
        <result column="seq" property="seq" />
        <result column="status" property="status" />
        <result column="auth_type" property="authType" />
        <result column="url" property="url" />
        <result column="access_url" property="accessUrl" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

    <select id="getPermissionsByRoleId" resultType="com.upc.modular.auth.entity.SysAuthority">
        SELECT a.id, a.access_url, a.father_id
        FROM sys_authority a
                 JOIN role_authority_list ra ON a.id = ra.authority_id
        WHERE ra.role_id = #{roleId}
    </select>

</mapper>
