<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.auth.mapper.SysAuthorityModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.auth.entity.SysAuthorityModel">
        <id column="id" property="id" />
        <result column="auth_model_code" property="authModelCode" />
        <result column="auth_model_name" property="authModelName" />
        <result column="parent_id" property="parentId" />
        <result column="seq" property="seq" />
        <result column="status" property="status" />
        <result column="have_url" property="haveUrl" />
        <result column="url" property="url" />
        <result column="pic_url" property="picUrl" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

</mapper>
