<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.auth.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.auth.entity.SysTbuser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="user_type" property="userType" />
        <result column="identity_id" property="identityId" />
        <result column="idcard" property="idcard" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="college" property="college" />
        <result column="birthday" property="birthday" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

    <select id="getRolesByUserId" resultType="com.upc.modular.auth.entity.SysTbrole">
        SELECT r.*
        FROM sys_tbrole r
                 JOIN user_role_list ur ON ur.role_id = r.id
        WHERE ur.user_id = #{userId} AND r.status = 1
    </select>
    <select id="getUserInfo" resultType="java.lang.Long">
        <choose>
            <when test="userType == 1">
                SELECT id FROM student WHERE user_id = #{id}
            </when>
            <when test="userType == 2 or userType == 0">
                SELECT id FROM teacher WHERE user_id = #{id}
            </when>
            <otherwise>
                SELECT NULL
            </otherwise>
        </choose>
    </select>

</mapper>
