<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.questionbank.mapper.TeachingQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.questionbank.entity.TeachingQuestion">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="content" property="content" />
        <result column="difficulty" property="difficulty" />
        <result column="status" property="status" />
        <result column="answer" property="answer" />
        <result column="subject" property="subject" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

    <select id="selectQuestion"
            resultMap="BaseResultMap">
        SELECT
        t.id,
        t.type,
        t.content,
        t.difficulty,
        t.status,
        t.answer,
        t.subject,
        t.creator,
        t.add_datetime,
        t.operator,
        t.operation_datetime
        FROM teaching_question t
        <where>
            <!-- 条件1: 根据题目内容模糊查询 -->
            <if test="param.content != null and param.content != ''">
                AND t.content LIKE CONCAT('%', #{param.content}, '%')
            </if>
            <!-- 条件2: 根据题型精确查询  -->
            <if test="param.type != null">
                AND t.type = #{param.type}
            </if>
            <!-- 条件3: 根据难度等级精确查询 -->
            <if test="param.difficulty != null">
                AND t.difficulty = #{param.difficulty}
            </if>
            <!-- 条件4: 根据状态精确查询 -->
            <if test="param.status != null">
                AND t.status = #{param.status}
            </if>
            <!-- 条件4: 根据题目所属学科模糊查询 -->
            <if test="param.subject != null and param.subject != ''">
                AND t.content LIKE CONCAT('%', #{param.subject}, '%')
            </if>
        </where>
        ORDER BY t.add_datetime
        <choose>
            <when test="param.isAsc == 1">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </select>

</mapper>
