<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.auth.mapper.SysDictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.auth.entity.SysDictType">
        <id column="id" property="id" />
        <result column="dict_type_code" property="dictType" />
        <result column="dict_type_name" property="dictName" />
        <result column="description" property="remark" />
        <result column="status" property="status" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <select id="checkDictTypeUnique" parameterType="java.lang.String"
            resultType="com.upc.modular.auth.entity.SysDictType">
        SELECT *
        FROM sys_dict_type
        WHERE dict_name = #{dictTypeName}
        LIMIT 1
    </select>

</mapper>
