<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.student.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.student.entity.Student">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="identity_id" property="identityId" />
        <result column="idcard" property="idcard" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="college" property="college" />
        <result column="birthday" property="birthday" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="class_id" property="classId" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <select id="selectStudentWithDetails" resultType="com.upc.modular.student.controller.param.vo.StudentReturnVo">
        SELECT
        s.*,
        u.institution_id,
        i.institution_name,
        c.class_name
        FROM
        student s
        LEFT JOIN sys_tbuser u ON s.user_id = u.id
        LEFT JOIN institution i ON u.institution_id = i.id
        LEFT JOIN class c ON s.class_id = c.id
        <where>
            <if test="param.name != null and param.name != ''">
                AND s.name LIKE CONCAT('%', #{param.name}, '%')
            </if>
            <if test="param.identityId != null and param.identityId != ''">
                AND s.identity_id LIKE CONCAT('%', #{param.identityId}, '%')
            </if>
            <if test="param.gender != null and param.gender != ''">
                AND s.gender = #{param.gender}
            </if>
            <if test="param.college != null and param.college != ''">
                AND s.college LIKE CONCAT('%', #{param.college}, '%')
            </if>
            <if test="param.classId != null">
                AND s.class_id = #{param.classId}
            </if>
        </where>
        ORDER BY s.add_datetime
        <choose>
            <when test="param.isAsc == 1">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </select>
    <select id="getInstitutionIdByStudentId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT u.institution_id
        FROM student s
                 LEFT JOIN sys_tbuser u ON s.user_id = u.id
        WHERE s.id = #{studentId}
    </select>
</mapper>
