<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.group.mapper.UserClassListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.group.entity.UserClassList">
        <id column="id" property="id" />
        <result column="class_id" property="classId" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="add_datetime" property="addDatetime" />
        <result column="creator" property="creator" />
        <result column="operator" property="operator" />
        <result column="operation_time" property="operationTime" />
    </resultMap>
    <select id="getMyClassStudent" resultType="com.upc.modular.group.controller.param.GetMyClasssReturnParam"
            parameterType="java.lang.Long">
        SELECT
        g.*,
        i.institution_name
        FROM user_class_list ucl
        LEFT JOIN `group` g ON ucl.class_id = g.id
        LEFT JOIN institution i ON g.institution_id = i.id
        <where>
            <if test="id != null">
                AND ucl.user_id = #{id}
            </if>
        </where>

    </select>

</mapper>
