<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.teacher.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.teacher.entity.Teacher">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="identity_id" property="identityId" />
        <result column="idcard" property="idcard" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="nationality" property="nationality" />
        <result column="birthday" property="birthday" />
        <result column="position" property="position" />
        <result column="professional_title" property="professionalTitle" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="introduction" property="introduction" />
        <result column="photo" property="photo" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <select id="selectTeacherWithInstitution" resultType="com.upc.modular.teacher.vo.TeacherReturnVo">
        SELECT
        t.*,
        u.institution_id,
        i.institution_name
        FROM teacher t
        LEFT JOIN sys_tbuser u ON t.user_id = u.id
        LEFT JOIN institution i ON u.institution_id = i.id
        <where>
            <if test="param.name != null and param.name != ''">
                AND t.name LIKE CONCAT('%', #{param.name}, '%')
            </if>
            <if test="param.identityId != null and param.identityId != ''">
                AND t.identity_id LIKE CONCAT('%', #{param.identityId}, '%')
            </if>
            <if test="param.idcard != null and param.idcard != ''">
                AND t.idcard LIKE CONCAT('%', #{param.idcard}, '%')
            </if>
            <if test="param.gender != null and param.gender != ''">
                AND t.gender = #{param.gender}
            </if>
            <if test="param.nationality != null and param.nationality != ''">
                AND t.nationality LIKE CONCAT('%', #{param.nationality}, '%')
            </if>
            <if test="param.position != null and param.position != ''">
                AND t.position LIKE CONCAT('%', #{param.position}, '%')
            </if>
            <if test="param.professionalTitle != null and param.professionalTitle != ''">
                AND t.professional_title LIKE CONCAT('%', #{param.professionalTitle}, '%')
            </if>
            <if test="param.educationalBackground != null">
                AND t.educational_background = #{param.educationalBackground}
            </if>
            <if test="param.isPartyNumber != null">
                AND t.is_party_number = #{param.isPartyNumber}
            </if>
            <if test="param.status != null">
                AND t.status = #{param.status}
            </if>
            <!-- 新增的detailTypeOption条件 -->
            <if test="param.detailTypeOption != null">
                AND EXISTS (
                    SELECT 1 FROM textbook_authority ta 
                    WHERE ta.user_id = t.user_id 
                    AND ta.visible_institute_id = #{param.detailTypeOption} 
                    AND ta.authority_type = 2
                )
            </if>
        </where>
        ORDER BY t.add_datetime
        <choose>
            <when test="param.isAsc == 1">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
    </select>
    <select id="getInstitutionIdByTeacherId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT u.institution_id
        FROM teacher t
                 LEFT JOIN sys_tbuser u ON t.user_id = u.id
        WHERE t.id = #{teacherId}
    </select>
    <select id="getInformationByTeacherId" resultType="com.upc.modular.teacher.vo.TeacherReturnVo"
            parameterType="java.lang.Long">
        SELECT
            t.*,
            u.institution_id,
            i.institution_name
        FROM
            teacher t
                LEFT JOIN sys_tbuser u ON t.user_id = u.id
                LEFT JOIN institution i ON u.institution_id = i.id
        WHERE
            t.id = #{teacherId}
    </select>

    <select id="getTeacherIdByUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT id
        FROM teacher
        WHERE user_id = #{userId}
    </select>


</mapper>
