<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.textbook.mapper.LearningLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.textbook.entity.LearningLog">
        <id column="id" property="id" />
        <result column="textbook_id" property="textbookId" />
        <result column="catalogue_id" property="catalogueId" />
        <result column="client_uuid" property="clientUuid" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operation_datetime" property="operationDatetime" />
        <result column="creator" property="creator" />
        <result column="operator" property="operator" />
    </resultMap>
    <select id="recentStudy" resultType="com.upc.modular.textbook.param.RecentStudyReturnParam">
        SELECT
            -- 显式排除 description、h5_head_code
            t.id,
            t.textbook_name,
            t.type,
            t.textbook_publishing_house,
            t.textbook_publishing_time,
            t.textbook_author_id,
            t.textbook_version,
            t.release_status,
            t.review_status,
            t.classification,
            t.author_name,
            t.executive_editor,
            t.textbook_english_name,
            t.version_number,
            t.creator,
            t.add_datetime,
            t.operator,
            t.operation_datetime
        FROM
            textbook t
                INNER JOIN (
                SELECT
                    textbook_id,
                    MAX(add_datetime) AS last_study_time
                FROM
                    learning_log
                WHERE
                    creator = #{userId}
                GROUP BY
                    textbook_id
            ) r ON r.textbook_id = t.id
        ORDER BY
            r.last_study_time DESC
            LIMIT COALESCE(#{limit}, 10)
    </select>


</mapper>
