<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.textbook.mapper.MaterialListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.textbook.entity.MaterialList">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="address" property="address" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
        <result column="material_push_id" property="materialPushId" />
    </resultMap>
    <select id="selectByTextbookId"
            resultType="com.upc.modular.textbook.entity.MaterialList">
        SELECT ml.*
        FROM material_list ml
                 JOIN material_push mp ON ml.material_push_id = mp.id
        WHERE mp.textbook_id = #{textbookId}
    </select>
</mapper>
