<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.textbook.mapper.TextbookClassificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.textbook.entity.TextbookClassification">
        <id column="id" property="id" />
        <result column="classification_name" property="classificationName" />
        <result column="sort_number" property="sortNumber" />
        <result column="parent_id" property="parentId" />
        <result column="classification_grade" property="classificationGrade" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <update id="updateProductClassification"
            parameterType="com.upc.modular.textbook.entity.TextbookClassification">
        UPDATE textbook_classification
        <set>
            <if test="classification_name != null and classification_name != ''">
                classification_name = #{classificationName},
            </if>
            <if test="sortNumber != null">
                sort_number = #{sortNumber},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="classificationGrade != null">
                classification_grade = #{classificationGrade},
            </if>
            <if test="operator != null and operator != ''">
                operator = #{operator},
            </if>
            <if test="operationDatetime != null">
                operation_datetime = #{operationDatetime},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="selectMaxSortNumber" resultType="java.lang.Integer"
            parameterType="com.upc.modular.textbook.entity.TextbookClassification">
        SELECT MAX(sort_number) FROM textbook_classification
    </select>

</mapper>
