<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.textbook.mapper.TextbookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.textbook.entity.Textbook">
        <id column="id" property="id" />
        <result column="textbook_name" property="textbookName" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="textbook_publishing_house" property="textbookPublishingHouse" />
        <result column="textbook_publishing_time" property="textbookPublishingTime" />
        <result column="textbook_author_id" property="textbookAuthorId" />
        <result column="textbook_version" property="textbookVersion" />
        <result column="release_status" property="releaseStatus" />
        <result column="review_status" property="reviewStatus" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <select id="selectTextbookPage" resultType="com.upc.modular.textbook.param.TextbookPageReturnParam">
        SELECT
        t.id,
        t.textbook_name,
        t.type,
        t.textbook_publishing_house,
        t.textbook_publishing_time,
        t.textbook_version,
        t.release_status,
        t.review_status,
        t.author_name,
        t.executive_editor,
        t.textbook_english_name,
        t.creator,
        t.add_datetime,
        t.operator,
        t.operation_datetime,
        a.name AS textbook_author_name,
        d.name AS type_name,
        -- 使用CASE语句根据用户类型动态获取创建人姓名
        CASE
        WHEN #{userType} = 1 THEN s.name
        ELSE tch.name
        END AS creatorName,
        -- 获取审核表id
        tr.id AS reviewId
        FROM
        textbook t
        LEFT JOIN
        teacher a ON t.textbook_author_id = a.id
        LEFT JOIN
        sys_dict_data d ON t.type = d.id
        LEFT JOIN
        -- 使用子查询关联最新的审核记录，以防重复
        (SELECT textbook_id, MAX(id) AS id FROM textbook_review GROUP BY textbook_id) tr ON t.id = tr.textbook_id
        LEFT JOIN
        -- 关联学生表以获取创建人姓名
        student s ON t.creator = s.user_id
        LEFT JOIN
        -- 关联教师表以获取创建人姓名
        teacher tch ON t.creator = tch.user_id
        <where>
            <if test="param.textbookName != null and param.textbookName != ''">
                AND t.textbook_name LIKE CONCAT('%', #{param.textbookName}, '%')
            </if>
            <if test="param.authorName != null and param.authorName != ''">
                AND a.name LIKE CONCAT('%', #{param.authorName}, '%')
            </if>
            <if test="param.releaseStatus != null">
                AND t.release_status = #{param.releaseStatus}
            </if>
            <if test="param.reviewStatus != null">
                AND t.review_status = #{param.reviewStatus}
            </if>
            <if test="param.startTime != null">
                AND t.add_datetime &gt;= #{param.startTime}
            </if>
            <if test="param.endTime != null">
                AND t.add_datetime &lt;= #{param.endTime}
            </if>
            <if test="classificationIds != null and classificationIds.size > 0">
                AND t.classification IN
                <foreach collection="classificationIds" item="cid" open="(" close=")" separator=",">
                    #{cid}
                </foreach>
            </if>
        </where>
        ORDER BY
        t.add_datetime
        <choose>
            <when test="param.isAsc == 1">
                ASC
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
    </select>
    <select id="getOneTextbookDetails" resultType="com.upc.modular.textbook.param.TextbookPageReturnParam">
        SELECT
            t.id,
            t.textbook_name,
            t.type,
            t.description,
            t.textbook_publishing_house,
            t.textbook_publishing_time,
            t.textbook_version,
            t.release_status,
            t.review_status,
            t.classification,
            t.author_name,
            t.executive_editor,
            t.textbook_english_name,
            t.version_number,
            t.textbook_picture,
            t.creator,
            t.add_datetime,
            t.operator,
            t.operation_datetime,
            a.name AS textbook_author_name,
            d.name AS type_name,
            -- Add creator's name based on userType
            CASE
                WHEN #{userType} = 1 THEN s.name
                ELSE tch.name
                END AS creatorName,
            -- Add the latest review id
            tr.id AS reviewId
        FROM
            textbook t
                LEFT JOIN
            teacher a ON t.textbook_author_id = a.id
                LEFT JOIN
            sys_dict_data d ON t.type = d.id
                LEFT JOIN
            -- Subquery to get the latest review ID for this textbook
                (SELECT textbook_id, MAX(id) AS id FROM textbook_review WHERE textbook_id = #{textbookId} GROUP BY textbook_id) tr ON t.id = tr.textbook_id
                LEFT JOIN
            student s ON t.creator = s.user_id
                LEFT JOIN
            teacher tch ON t.creator = tch.user_id
        WHERE
            t.id = #{textbookId}
    </select>
</mapper>
