<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.textbook.mapper.TextbookCatalogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.upc.modular.textbook.entity.TextbookCatalog">
        <id column="id" property="id" />
        <result column="textbook_id" property="textbookId" />
        <result column="catalog_name" property="catalogName" />
        <result column="content" property="content" />
        <result column="catalog_level" property="catalogLevel" />
        <result column="textbook_catalog_id" property="textbookCatalogId" />
        <result column="sort" property="sort" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

</mapper>
