<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.modular.homepage.mapper.HomePageTextbookMapper">
    <select id="selectTextbookListWithNames" resultType="com.upc.modular.homepage.param.HomePageTextbookReturnParam"
            parameterType="com.upc.modular.homepage.param.HomePagePromotionListSearchParam">
        SELECT
        hpt.id,
        hpt.title,
        hpt.picture,
        hpt.is_top,
        hpt.add_datetime,
        hpt.status,
        hpt.textbook_id,
        COALESCE(t.name, s.name) AS authorName,
        COALESCE(t_op.name, s_op.name) AS operatorName
        FROM
        home_page_textbook hpt
        LEFT JOIN sys_tbuser u ON hpt.creator = u.id
        LEFT JOIN teacher t ON u.id = t.user_id AND u.user_type IN (0, 2)
        LEFT JOIN student s ON u.id = s.user_id AND u.user_type = 1
        LEFT JOIN sys_tbuser u_op ON hpt.operator = u_op.id
        LEFT JOIN teacher t_op ON u_op.id = t_op.user_id AND u_op.user_type IN (0, 2)
        LEFT JOIN student s_op ON u_op.id = s_op.user_id AND u_op.user_type = 1
        <where>
            AND hpt.status = 1
        </where>
        ORDER BY
        hpt.is_top DESC,
        hpt.add_datetime DESC
        LIMIT #{listNumber}
    </select>
    <select id="selectTextbookPageWithNames"
            resultType="com.upc.modular.homepage.param.HomePageTextbookReturnParam">
        SELECT
        hpt.id,
        hpt.title,
        hpt.picture,
        hpt.is_top,
        hpt.add_datetime,
        hpt.status,
        hpt.textbook_id,
        COALESCE(t.name, s.name) AS authorName,
        COALESCE(t_op.name, s_op.name) AS operatorName
        FROM
        home_page_textbook hpt
        LEFT JOIN sys_tbuser u ON hpt.creator = u.id
        LEFT JOIN teacher t ON u.id = t.user_id AND u.user_type IN (0, 2)
        LEFT JOIN student s ON u.id = s.user_id AND u.user_type = 1
        LEFT JOIN sys_tbuser u_op ON hpt.operator = u_op.id
        LEFT JOIN teacher t_op ON u_op.id = t_op.user_id AND u_op.user_type IN (0, 2)
        LEFT JOIN student s_op ON u_op.id = s_op.user_id AND u_op.user_type = 1
        <where>
            <if test="param.status != null">
                AND hpt.status = #{param.status}
            </if>
            <if test="param.title != null and param.title != ''">
                AND hpt.title LIKE CONCAT('%', #{param.title}, '%')
            </if>
        </where>
        ORDER BY
        hpt.is_top DESC,
        hpt.add_datetime DESC
    </select>
    <select id="getHomePageNoticeDetails" resultType="com.upc.modular.homepage.param.HomePageTextbookReturnParam"
            parameterType="java.lang.Long">
        SELECT
        hpt.*,
        COALESCE(t.name, s.name) AS authorName,
        COALESCE(t_op.name, s_op.name) AS operatorName
        FROM
        home_page_textbook hpt
        LEFT JOIN sys_tbuser u ON hpt.creator = u.id
        LEFT JOIN teacher t ON u.id = t.user_id AND u.user_type IN (0, 2)
        LEFT JOIN student s ON u.id = s.user_id AND u.user_type = 1
        LEFT JOIN sys_tbuser u_op ON hpt.operator = u_op.id
        LEFT JOIN teacher t_op ON u_op.id = t_op.user_id AND u_op.user_type IN (0, 2)
        LEFT JOIN student s_op ON u_op.id = s_op.user_id AND u_op.user_type = 1
        <where>
            <if test="promotionId != null">
                AND hpt.id = #{promotionId}
            </if>
        </where>
    </select>
</mapper>